* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
html body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
html body header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 30%;
  background: linear-gradient(143deg, rgba(242, 244, 245, 0) 0%, #c2ebb5 50%, #a9d197 51%, rgba(224, 239, 249, 0) 100%);
}
html body header h1 {
  font-size: 3rem;
}
html body footer {
  background-color: gainsboro;
  border-radius: 0.5rem;
  padding: 1rem;
}
html body footer span {
  display: block;
  color: grey;
}
html body footer img {
  height: 3rem;
}