@font-face {
  font-family: "Material Icons";
  src: url("https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format("woff2");
}
.icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 65.8%;
}
html body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: calc(100vh - 56px);
  overflow: hidden;
  background-image: url("senar.jpeg");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 1rem 1.5rem;
}
html body header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background: linear-gradient(166deg, rgba(242, 244, 245, 0) 0%, rgba(26, 113, 0, 0.137254902) 40%, rgba(169, 209, 151, 0) 1%, rgba(224, 239, 249, 0) 100%);
}
html body header div {
  display: grid;
  grid-template: 1fr/1fr 5fr 1fr;
  justify-content: center;
  align-items: start;
  width: 100vw;
}
html body header div img {
  height: 8rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3843137255);
  justify-self: center;
}
html body header div button {
  background: none;
  font-family: "Material Icons";
  font-size: 4rem;
  border: none;
  color: rgb(0, 107, 71);
  background: white;
  border-radius: 50%;
}
html body header h1 {
  color: rgb(98, 181, 91);
  font-size: 1.5rem;
  text-align: center;
}
html body footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
html body footer section#buttons {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid grey;
  padding: 0 1rem;
  height: 2.5rem;
}
html body footer section#buttons button {
  position: relative;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  background: gainsboro;
  height: 2.5rem;
  color: black;
  font-size: 1.4rem;
}
html body footer section#buttons button:focus {
  outline: none;
  background: white;
  border-bottom: none;
}
html body footer div#tabs {
  flex-grow: 1;
  border: 1px solid grey;
  border-top: none;
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 1rem;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.4862745098);
  overflow: auto;
  height: 10rem;
}
html body footer div#tabs > div {
  display: none;
}
html body footer div#tabs > div > h3 {
  font-size: 1.5rem;
}
html body footer div#tabs > div > p {
  border: 1px solid rgba(98, 181, 91, 0.5);
  background: rgba(98, 181, 91, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: rgb(0, 107, 71);
  font-size: 1.4rem;
}
html body footer div#tabs > div > hr {
  margin: 1rem;
  border: none;
  border-top: 1px dashed gainsboro;
}
html body footer div#tabs > div > img {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 49vh;
}
html body footer div#tabs > div > article {
  font-size: 1.4rem;
}
html body footer div#tabs > div > article > li {
  text-align: justify;
  hyphens: auto;
  line-height: 1.5;
  padding: 1rem;
}
html body footer div#tabs > div > article > li::marker {
  margin-right: 0.2rem;
}
html body footer div#tabs > div > article > p {
  text-indent: 2rem;
  margin: 1.5rem 0;
  text-align: justify;
  hyphens: auto;
  line-height: 1.5;
}
html body footer div#tabs > div > div {
  display: grid;
  grid-template: auto/1fr 9fr;
  grid-template-areas: "icon desc" "line desc";
  grid-column-gap: 1rem;
}
html body footer div#tabs > div > div span.icon {
  grid-area: icon;
  justify-self: center;
  font-family: "Material Icons";
  font-size: 2.5rem;
  height: 1rem;
  color: #303030;
}
html body footer div#tabs > div > div span.line {
  justify-self: center;
  border-left: 1.5px dashed grey;
}
html body footer div#tabs > div > div div.item {
  grid-area: desc;
  min-height: 5rem;
  font-size: 1.2rem;
}
html body footer div#tabs > div > div div.item span.title {
  align-self: center;
  font-weight: bold;
  color: #1C7A6F;
  font-size: 1.4rem;
  display: block;
}
html body footer div#tabs > div > div div.item span.desc {
  margin-bottom: 1rem;
}
html body footer div#tabs div.show {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

@media screen and (orientation: landscape) {
  html {
    background: black;
  }
  html body {
    display: none;
  }
}