<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
	   <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" culture="pt-BR" uiCulture="pt-BR"/>
	</system.web> 
  <system.webServer>
      <rewrite>
        <rules>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
              <match url="(.*)" />
                <conditions>
                    <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
              </conditions>
            <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
          </rule>
        </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <handlers>
      <add name="NodejsHandler" path="*" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" />
    </handlers>
    <modules>
      <add name="Nodejs" type="Node.js" />
    </modules>
  </system.webServer>
</configuration>